/* CSS reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cardgap: 25px;
    --colnum: 3;
}

body {
    font-family: sans-serif;
}

/* Container size and basic style */

.container
{
    max-width: 1200px; /* desktop standard */
    min-width: 320px; /* vertical mobile small standard */
    margin: 0 auto;
    padding: 25px;
}

/* debug class to see borders

.container.debug {
    border: 2px dashed red;
}

.card.debug {
    border: 2px dotted blue;
}

*/

/* Cards dimension, position and general rules (Desktop) */

.flex-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: var(--cardgap); /* NOTE: to change gap use variable in :root above!! */
    justify-content: center;
}

.flex-cards .card {
    padding: 35px 15px;
    max-width: 255px;
    flex-basis: calc( (100% - (var(--cardgap) * (var(--colnum) - 1)) ) / var(--colnum) ); /* NOTE: to change gap or columns number use variables in :root above!! */
    border-radius: 24px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.card button {
    width: 100%;
    padding: 20px 0;
    border: none;
    border-radius: 10px;
    font-weight: 900;
    font-size: 0.8rem;
    margin: 10px auto;
}

/*vertical spacing and centre cards' elements */

.card .price, .card .discount, .card .choose {  
    text-align: center;
    padding: 10px 0;
}

/*vertical spacing of list of features*/

.plan-feat *  {
    padding: 5px 0;
}

/*Font-size and bold text for currency and price inside cards*/

.card .currency { 
    font-size: 1rem;
    Font-weight: 600;
}


.card .cost {
    font-size: 2.5rem;
    font-weight: 700;
}

/*cards style - using nth-child peudo-class with "odd" and "even"*/

.card:nth-child(odd) {
    background-color: #fff;
}

.card:nth-child(even) {
    background-color: rgb(87, 69, 202);
    color: #fff;
}


.card:nth-child(odd) button {
    background-color: rgb(87, 69, 202);
    color: #fff;
}

.card:nth-child(even) button {
    background-color: white;
    color: rgb(87, 69, 202);
}


/* Small text and grey text */

.small-text {
    font-size: 0.75rem;
}


/* grey text in "odd" cards (first and third) where required*/

.title>.small-text, .card:nth-child(odd)>h3.plan-name+span, .card:nth-child(odd) .payment-period {
    color: grey;
}


/* Discount label */

.card span.discount-perc {
    background-color: lightgray; 
    color: black; /* this is to override font-colour for "even" card (second) */
    border-radius: 6px;
    padding: 5px;
}


/* unorderd list (product features) style */

.flex-cards ul {
    font-size: 0.75rem;
}

.flex-cards .card ul>li {
    list-style-type: none;
}


/*todo: toggle switch - position of placeholder and style of text*/

.container {
    position: relative;
}

.toggles-placeholder.desktop.tablet {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 50px;
    color: grey;
}

.title>h1 {
    display: inline-block;
}

/* toggles mobile display none */

.toggles-placeholder.mobile {
    display: none;
}



/* I use media queries for tablet and mobile layout */
/*Tablet */

@media screen and (max-width: 780px) {
    :root {
        --colnum: 2; /* flex-basis will automatically change */
    }

    .flex-cards .card { /* Property to allow flex-grow */
        max-width: none; /* to allow flex-grow to work */
        flex-grow: 1;   
    }
}

/* Mobile */

@media screen and (max-width: 568px) {
    :root {
        --colnum: 1; /* flex-basis will automatically change */
    }
   
    /* re-establish max-width */
    .flex-cards .card {
        max-width: 255px;
    }

    /*Order: Professional plan on top*/
    .flex-cards .card.professional {
        order: -1;
    }

    /* toggles mobile: center and below title */
    .toggles-placeholder.desktop.tablet {
        display: none;
    }

    .toggles-placeholder.mobile {
        display: block;
        text-align: center;
        margin-top: 20px;
        color: grey;
    }

}